doctype html
html
  head
    title Dashboard
    link(rel="stylesheet" href="/style.css")
  body
    h1 Welcome, #{user.username}!
    form(action="/video/upload" method="POST")
      label(for="title") Video Title:
      input(type="text" name="title" required)
      br
      label(for="url") Video URL (embed link):
      input(type="url" name="url" required)
      br
      label(for="description") Description:
      textarea(name="description")
      br
      button(type="submit") Upload Video
    br
    a(href="/auth/logout") Logout