doctype html
html
  head
    title Register
    link(rel="stylesheet" href="/style.css")
  body
    h1 Register
    if error
      p(style="color: red") #{error}
    form(action="/auth/register" method="POST")
      label(for="username") Username:
      input(type="text" name="username" required)
      br
      label(for="email") Email:
      input(type="email" name="email" required)
      br
      label(for="password") Password:
      input(type="password" name="password" required)
      br
      button(type="submit") Register
    p
      | Already have an account? 
      a(href="/auth/login") Log in here

